Header{
    height: 100px;
    display: inline-block;
    padding: 20px;
    font-size: 50px;
}

list-item{
    display: flex !important;
    align-items: center !important;
    cursor: pointer
}

h1{
    text-align: center;
    position: relative;
    background-color: gray;
}

Router{
    text-align: center;
}

